<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="your tentant Id here" />
    <add key="ClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
    <add key="Resource" value="https://management.core.windows.net/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>